@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body, #app {
    height: 100%;
}

body {
    @apply h-full bg-[#35507d]
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #f8f8f8;
}
